AZUREML_SUBSCRIPTION_ID = "..."
AZUREML_RESOURCE_GROUP = "..."
AZUREML_RESOURCE_LOCATION = "..."
AZUREML_WORKSPACE_NAME = "..."
AZUREML_STORAGE_ACCOUNT_NAME = "..."
AZUREML_STORAGE_ACCOUNT_ACCESS_KEY = "..."

DEV_ENVIRONMENT = "..."
